@{
    ViewBag.Title = "Home Page";
}



<div class="row-img">
    <img class="img-rounded" src="~/Images/images.jpg" />
    
    <p class="texto-index"><h1>Sistema de Cadastro de Restaurantes</h1></p>

</div>